language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"
  - "pypy3"
jobs:
  allow_failures:
    - python: "2.7"
install:
  - pip install -r requirements-dev.txt
  - pip install codecov
  - if [[ $TRAVIS_PYTHON_VERSION == 2* ]]; then pip install unittest2; fi
  - python setup.py install

script:
  - make flakes
  - make clear_coverage
  - make run_unit_tests
  - make run_integration_tests
  - if [[ $TRAVIS_PYTHON_VERSION != 'pypy3' ]]; then make run_acceptance_tests; fi

after_success:
  - make coveralls
  - codecov

notifications:
  email:
    on_success: change
    on_failure: change
